.encuestasLista {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding-bottom: 5rem;
}

.dialogo {
	width: 80vw;
	height: 60vh;
	padding: 2rem;
	
}

.respuestasStack {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.realizarEncuestaButton {
	width: 100vw;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.barchartcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
